# Fichiers systeme
.DS_Store
Thumbs.db
desktop.ini
*.lnk

# Donnees sensibles
*.env
.env*
secrets.txt
api_keys.txt
credentials.*
*.key
*.pem
*.p12
*.pfx

# Images VM (trop lourdes pour Git)
*.vmdk
*.ova
*.vdi
*.vhd
*.vhdx
*.iso
*.qcow2
*.raw
*.img

# Captures reseau
*.pcap
*.pcapng
*.cap

# Samples malwares - JAMAIS sur GitHub
MALWARE_ANALYSIS/SAMPLES/**
*.malware
*.vir
*.infected

# Dumps memoire
*.dmp
*.mem
FORENSICS/MEMORY/DUMPS/**
FORENSICS/DISK/IMAGES/**

# Burp Suite
*.burp

# Wordlists volumineuses
TOOLS/UTILS/WORDLISTS/rockyou*
*.wordlist

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Node.js
node_modules/
npm-debug.log*

# Logs
*.log
logs/

# Temporaires
*.tmp
*.bak
*.swp

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# Ansible
*.vault
ansible/vault_pass.txt
